[submodule "Dep/stb"]
	path = Dep/stb
	url = https://github.com/nothings/stb.git

[submodule "Dep/tinyxml2"]
	path = Dep/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git

[submodule "Dep/glfw"]
	path = Dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dep/fmt"]
	path = Dep/fmt
	url = https://github.com/fmtlib/fmt.git
